@media (max-width:1000px) {
  .menu {
    display: none;
  }  

  .menu-hamburger {
    display: block;
    }

  .cover {
    height: 400px;
  }

  .container-n {
    width: 80%;
  }

  .about-content {
    width: 100%;
  }

  .sitemap ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sitemap ul li {
    padding: 5px 0;
  }
  
  .sitemap ul li::before {
  content:""
  }
  
  .sitemap ul li:last-child::after {
  content:""
  }
}

@media (max-width:670px) { 
  .cover-text {
    font-size: 16px;
  }

  .about-contents {
    flex-direction: column;
  }

  .news{
    font-size: 10px;
  }

  .label {
    width: 40px;
    font-size: 10px;
  }

  .footer-info {
    flex-direction: column;
  }

  .copy {
    text-align: center;
    padding: 20px 0;
  }
}